{
  "openapi": "3.1.0",
  "info": {
    "title": "1200km Public Read-Only Discovery API",
    "version": "1.0.0",
    "description": "Public read-only discovery description for 1200km.com, a cybersecurity portfolio and AdversaryGraph documentation hub."
  },
  "servers": [
    {
      "url": "https://1200km.com"
    }
  ],
  "paths": {
    "/llms.txt": {
      "get": {
        "summary": "Retrieve LLM-oriented site summary",
        "responses": {
          "200": {
            "description": "LLM-readable text summary",
            "content": {
              "text/plain": {}
            }
          }
        }
      }
    },
    "/agent-index.md": {
      "get": {
        "summary": "Retrieve agent index",
        "responses": {
          "200": {
            "description": "Markdown agent index",
            "content": {
              "text/markdown": {}
            }
          }
        }
      }
    },
    "/data/site-facts.json": {
      "get": {
        "summary": "Retrieve authoritative release, contribution, content, product, and lifecycle facts",
        "responses": {
          "200": {
            "description": "Versioned fact model with definitions, verification dates, sources, and statuses",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/adversarygraph-docs/": {
      "get": {
        "summary": "Retrieve AdversaryGraph documentation root",
        "responses": {
          "200": {
            "description": "HTML documentation page",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    },
    "/adversarygraph-docs/capabilities/": {
      "get": {
        "summary": "Retrieve AdversaryGraph capabilities page",
        "responses": {
          "200": {
            "description": "HTML capability page",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    }
  }
}
